/************************ SERVICES *********************************/
.services {
    text-align: center;
    padding-bottom: 3rem;
    background: var(--primary-black);
    height: 100vh;
  }
  
  .services h1 {
    color: var(--primary-pink);
    text-transform: uppercase;
  }
  
  .services .circle {
    position: relative;
    margin: 0.375rem auto;
    background: var(--primary-pink);
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
  }
  
  .services .icon {
    font-size: 1.4rem;
    color: var(--primary-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  .services .box {
    height: 16rem;
    border-bottom: 0.3125rem solid var(--primary-pink);
    padding: 0.625rem;
    margin-bottom: 1.875rem;
    background: var(--primary-white);
    transition: 0.6s ease-in-out;
  }
  
  .services .box:hover {
    background: var(--primary-pink);
    border-bottom: 0.3125rem solid var(--primary-white);
  }


  @media(max-width: 800px) {
    .box{
     margin: 0 12%;
    }

    .services{
      padding-bottom: 80rem;
    }
    
  }
  
  .services .box:hover .icon {
    color: var(--primary-black);
  }
  
  .services .box:hover .circle {
    background: var(--primary-white);
  }
  
  .services .box:hover p {
    color: var(--primary-white);
  }